$main-btn-color:#FCB72B;
$secondary-color:#495567;
$text-color:#939CAA;
$main-color:#FFFFFF;
$circles-color:#E5ECF4;
$footer-bg-color:#333A44;
$footer-circles-color:#939CAA;
$main-font:'Lexend Deca',
sans-serif;
$title-font:'Space Mono',
monospace;