* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

.container {
    max-width: 1096px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@import './fonts';
@import './varibles';
@import './mixins';
@import './generals';
@import './all-blocks/header';