nav {
    background-color: $main-color;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0;
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-links {
            display: flex;
            align-items: center;
            column-gap: 32px;
            list-style: none;
            &-link a {
                text-decoration: none;
                color: $text-color;
                font-weight: 700;
                font-size: 15px;
                line-height: 25px;
                font-family: $title-font;
            }
        }
        &-btn {
            display: none;
        }
    }
    &-btn,
    .navbar__menu-btn--desktop {
        padding: 14px 39px;
        font-family: $title-font;
        background-color: $main-btn-color;
        color: $main-color;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        cursor: pointer;
        border: 3px solid transparent;
        transition: 0.5s;
    }
    &-btn:hover,
    .navbar__menu-btn--desktop:hover {
        background-color: transparent;
        color: $main-btn-color;
        border: 3px solid $main-btn-color;
    }
    &-btn:active,
    .navbar__menu-btn--desktop:active {
        background-color: $main-btn-color;
    }
}

.navbar__menu-btn--desktop {
    display: block;
}

.navbar-menu-wrapper {
    display: flex;
    align-items: center;
    column-gap: 58px;
}

.navbar__checkbox {
    display: none;
    display: none;
}

.navbar__open {
    display: none;
}

.navbar__remove {
    display: none;
}

.navbar__checkbox:checked~.navbar__remove {
    display: block;
}

.navbar__checkbox:checked~.navbar__open {
    display: none;
}

@include fro-mobile {
    .navbar__menu {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 603px;
        position: fixed;
        top: 96px;
        left: 0;
        background-color: #333A44;
        width: 256px;
        padding: 64px 32px 24px 32px;
        transition: 0.5s;
        transform: translateX(-120%);
        visibility: hidden;
        text-align: left;
        &-links {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            text-align: left;
            color: $main-color;
        }
        &-links a {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: $main-color;
        }
        &-btn {
            display: block;
            padding: 14px 39px;
            font-family: $title-font;
            background-color: $main-btn-color;
            color: $main-color;
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            cursor: pointer;
            border: 3px solid transparent;
            transition: 0.5s;
        }
        &-btn:hover {
            background-color: transparent;
            color: $main-btn-color;
            border: 3px solid $main-btn-color;
        }
        &-btn:active {
            background-color: $main-btn-color;
        }
    }
    .navbar__menu-btn--desktop {
        display: none;
    }
    .navbar__checkbox:checked+.navbar__menu {
        transform: translateX(0);
        visibility: visible;
    }
    .navbar__open {
        display: block;
    }
}

.hero {
    background-image: url(../imges/scooter-1x.jpg);
    background-position: center;
    min-height: 650px;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.hero::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2f3b599e;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.hero__content-wrapper {
    color: $main-color;
    & h1 {
        font-family: $title-font;
        max-width: 500px;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
    }
    & p {
        max-width: 400px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
    }
    &-btn {
        padding: 14px 39px;
        color: $main-color;
        font-family: $title-font;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        background-color: $main-btn-color;
        border: 3px solid transparent;
        transition: 0.5s;
        cursor: pointer;
    }
    &-btn:hover {
        background-color: transparent;
        color: $main-btn-color;
        border: 3px solid $main-btn-color;
    }
    &-btn:active {
        background-color: $main-btn-color;
    }
}

header {
    position: relative;
}

.line-img {
    position: absolute;
    top: 506px;
    left: 0;
}

.arrow {
    position: absolute;
    top: 506px;
    right: 85px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .hero {
        background-image: url('../../imges/scooter-2x.jpg');
    }
}

@include for-tablet {
    .hero__content-wrapper {
        text-align: center;
        & h1 {
            margin: 0 auto;
        }
        & p {
            margin: 0 auto;
            margin-top: 24px;
            margin-bottom: 32px;
        }
    }
    .hero__conten {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line-img {
        display: none;
    }
    .arrow {
        top: 580px;
        right: 429px
    }
    .hero {
        background-image: url(../imges/scooter-1x.jpg);
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        .hero {
            background-image: url('../imges/scooter-2x.jpg');
        }
    }
}

@include fro-mobile {
    .arrow {}
}